@{
    ViewData["Title"] = "Connexion";
}
@model Etudiant

@if (TempData["succes"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["succes"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["erreur"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["erreur"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="form-container">
    <h2>Connexion</h2>
    <form method="post" asp-controller="Home" asp-action="Connexion">
        <label asp-for="Email">Email d'utilisateur :</label>
        <input type="text" asp-for="Email" required>

        <label asp-for="Pass">Mot de passe :</label>
        <input type="password" asp-for="Pass" required>

        <button type="submit">Se connecter</button>
        <p>Pas encore inscrit ? <a asp-controller="Home" asp-action="Inscription">Créer un compte</a></p>
    </form>
</div>